*{
    font-size: clamp(16px, 2vw, 20px);
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    outline: none;
}

body{
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 5% 0 2%;
    overflow-y: auto;
    width: 100vw;
    margin: 0 !important;
}

button{
    background: none;
    border: none;
}

.standard{
    background-image: linear-gradient(135deg, red, purple);
    color: white;
    transition: all .3s linear;
}

.light{
    background-image: linear-gradient(100deg, pink, white);
    color: black;
    transition: 0.3s linear;
}

.darker{
    background-image: linear-gradient(100deg, #001214, #001f29);
    color: white;
    transition: 0.3s linear;
}

.darker-header{
    color: white;
    transition: 0.3s linear;
}

.header{
    justify-content: center;
    align-items: center;
    display: flex;
}

.theme{
    border: 1px solid #d1dae3;
    border-radius: 100%;
    height: 35px;
    margin: 0 8px;
    transition: tranform 150ms ease-in-out, box-shadow 200ms ease-in-out;
    width: 35px;
}

.theme:hover, .theme:focus { 
    box-shadow: white 0 0 8px;
    cursor: pointer;
}

.standard-theme {
    background-image: linear-gradient(135deg, red, purple);
}

.light-theme {
    background-image: linear-gradient(100deg, pink, white);
}

.darker-theme {
    background-image: linear-gradient(100deg, #001214, #001f29);
}

.content{
    align-items: center;
    display: block;
    width: 60%;
}

h2{
    display: block;
    text-align: center;
    font-size: clamp(27px, 5vw, 32px);
}

form, .fa-plus{
    align-items: center;
    display: flex;
    font-size: clamp(14px, 5vw, 24px);
    justify-content: center;
}

input{
    display: flex;
    align-items: center;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
}

input:hover, input:focus{
    border: 1px solid black;
    cursor: text;
}

/* INPUT THEMES */
input.standard-input{
    background-color: white;
    color: black;
}

input.light-input{
    background-color: white;
    color: black;
}

form input.light-input::placeholder {
    color: black;
    opacity: 0.7;
}

form input.darker-input {
    background-color: #01394c;
    color: white;
}

form input.darker-input::placeholder {
    color: white;
    opacity: 0.7;
}

form input.light-input:hover {
    background-color: rgb(248, 226, 229);
}

form input.darker-input:hover {
    background-color: rgb(1, 49, 65);
}

.standard-button{
    align-items: center;
    margin-left: 5px;
    display: flex;
    border: none;
    padding: 1%;
    cursor: pointer;
    color: white;
    background: transparent;
}

.standard-button:hover{
    border-radius: 8px;
    transition: all .3s ease;
    color: purple;
    background: white;
}

.light-button{
    color:black;
    align-items: center;
    margin-left: 5px;
    display: flex;
    border: none;
    padding: 1%;
    cursor: pointer;
    background: transparent;
}

.light-button:hover{
    transition: all .3s ease;
    background-color: white;
    color: black;
    border-radius: 8px;
}

.darker-button {
    color: white;
    align-items: center;
    margin-left: 5px;
    display: flex;
    border: none;
    padding: 1%;
    cursor: pointer;
    background: transparent;
}

.darker-button:hover {
    transition: all .3s ease;
    background-color: rgb(1, 49, 65);
    color: white;
    border-radius: 8px;
}

ol{
    align-items: center;
    padding: 0;
}

li{
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

li div{
    align-items: center;
    display: flex;
    margin-left: 5px;
}

.edit, .delete, .check{
    padding: 0;
}

.fa-edit{
    padding: 5px;
    color: skyblue;
    border-radius: 5px;
}

.fa-edit:hover{
    color: white;
    background-color: skyblue;
    transition: all 0.5s ease;
}

.fa-check{
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
}

.fa-check:hover{
    color: limegreen;
    background-color: transparent;
    transition: all 0.5s ease;
}

.fa-trash{
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    margin-left: 5px;
}

.fa-trash:hover{
    background: none;
    transition: all .5s ease;
    color: red;
}

.done{
    text-decoration: line-through;
    transition: all .3s ease;
    opacity: 0.4;
    color: white;
}

.remove{
    transition: all .3s ease;
    transform: translateX(150px);
    opacity: 0;
}

.clear{
    padding: 5px;
    color: white;
    font-size: clamp(10px, 5vw, 14px);
    border: 1px solid white;
    border-radius: 5px;
}

.clear:active{
    color: red;
    background-color: white;
    transition: all ease;
}

.clear:hover{
    color: red;
    background-color: white;
    transition: all .3s ease;
}

@media (max-width: 500px) {
    .content{
        width: 100%;
        margin: 0 10px;
    }
    h2{
        font-size: clamp(20px, 5vw, 30px);
    }
    form{
        font-size: clamp(11px, 1.5vw, 14px);
    }
    ol{
        margin: 12px 3%;
        font-size: clamp(12px, 2.5vw, 14px);
    }
    .clear{
        margin: 0 35%;
    }
}
